.errorSpan {
	color: red;
	font-size: 12px;
}

.body-div {
	padding-top: 50px;
	padding-bottom: 50px;
}

hr {
	border: 0;
	height: 2px;
	background-color: rgb(0, 128, 128);
}

.btn-div {
	margin-top: 20px;
}

#boardUpdateForm input {
	border: 2px solid lightgrey;
	width: 100%;
	margin: 0 10px;
}

#boardUpdateForm input:focus {
	outline: none;
	border: 2px solid rgb(0, 128, 128);
	box-shadow: 0 0 1px rgb(0, 128, 128);
}

#boardUpdateForm select {
	width: fit-content;
	border: 2px solid lightgrey;
}

#boardUpdateForm select:focus {
	border: 2px solid rgb(0, 128, 128);
	box-shadow: 0 0 1px rgb(0, 128, 128);
}

label {
	font-weight: bold;
	width: 65px;
}

label:last-of-type {
	padding-left: 20px;
}

.category-div {
	display: flex;
	align-items: center;
	width: 100%;
}