<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{client/fragments/clientLayout}">
<head>
	<link href="/resources/include/css/client/common.css" rel="stylesheet" />
	<link href="/resources/include/css/client/plantIlstr.css" rel="stylesheet" />
</head>
<div layout:fragment="content">
   <div id="title-img">
		<h1 class="text-center">식물도감</h1>
	</div>
	<div class="container body-div">
		<h4 th:text="${pln.plantGnrlNm}"></h4>
		<hr/>
	</div>
</div>
</html>