<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{client/fragments/clientLayout}">
<head>
   <link href="/resources/include/css/client/common.css" rel="stylesheet" />
	<link href="/resources/include/css/client/plantIlstr.css" rel="stylesheet" />
   <script th:inline="javascript">
	   /*<![CDATA[*/
	   $(function(){
		   
		   let params = new URLSearchParams(window.location.search);
		   
		   /* 검색 버튼 클릭 시 */
      		$("#searchBtn").click(function(){
				let keyword = $("#keyword").val().replace(' ','');
				params.set('keyword', keyword);

				let finalURI = location.pathname + "?" + params.toString();
				location.href = finalURI;
			});
		   
	   }); //끝
	   /*]]>*/
   </script>
</head>
<div layout:fragment="content">
	<div id="title-img">
		<h1 class="text-center">식물도감</h1>
	</div>
	<div class="container body-div">
		<div class="text-center mt-4">
			<div class="input-group mb-4 d-inline-flex">
				<input type="text" class="form-control" id="keyword" name="keyword" th:value="${keyword}" placeholder="검색어를 입력해주세요">
				<button class="btn btn-outline-secondary custom-btn" id="searchBtn" name="searchBtn" type="button">
					검색
				</button>
			</div>
		</div>
		<div class="list-div">
			<th:block th:if="${!plntIlstrList.isEmpty()}">
				<ul class="col-md-12 plant-ul" style="list-style: none;">
					<li class="plant-li" th:each="plntIlstr, loop : ${plntIlstrList}" style="display: inline-block;">
						<a th:href="@{|\plantIlstr/${plntIlstr.plantPilbkNo}|}">
							<div class="card" style="width: 14rem; height: 16rem;">
								<div class="img-div">
									<img class="plant-img card-img-top" th:src="${plntIlstr.imgUrl}" onerror="this.src='/resources/images/no-image-b.png'">
								</div>
								<div class="card-body text-start">
								  	<b class="card-title" th:text="${plntIlstr.plantGnrlNm}"></b>
								  	<p class="card-text"></p>
								</div>
							</div>
						</a>
					</li>
				</ul>	
			</th:block>
			<th:block th:if="${plntIlstrList.isEmpty()}">
				<p class="text-center mt-5">검색 결과가 존재하지 않습니다.</p>
			</th:block>
		</div>
		
		<!-- 페이징 처리 -->
		<div class="text-center">
			<nav th:if="${!plntIlstrList.isEmpty()}">
				<ul class="pagination pagination-ul">
					<li class="page-item" th:classappend="${plntIlstrList.first} ? 'disabled'">
						<a class="page-link"
							th:href="${plntIlstrList.first} ? '#' : @{/plantIlstr(keyword=${keyword}, page=${plntIlstrList.pageable.pageNumber - 1})}">
							<span aria-hidden="true">&lt;</span>
						</a>
					</li>
	
					<li th:each="page : ${#numbers.sequence(startPage, endPage)}"
						th:classappend="${page == plntIlstrList.pageable.pageNumber + 1} ? 'active'">
						<a class="page-link"
							th:href="@{/plantIlstr(keyword=${keyword}, page=${page - 1})}"
							th:text="${page}"></a>
					</li>
	
					<li class="page-item" th:classappend="${plntIlstrList.last} ? 'disabled'">
						<a class="page-link"
							th:href="${plntIlstrList.last} ? '#' : @{/plantIlstr(keyword=${keyword}, page=${plntIlstrList.pageable.pageNumber + 1})}">
							<span aria-hidden="true">&gt;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
</html>